ul li:before{
    margin-right: 0;
    margin-left: 0.4em;
}
ul.arrow_style li:before, 
ul.checkmarks_style li:before,
.custom_icon_style li>i.list_list{
	padding-left: 0.8em;
	padding-right: 0;
	margin-left: 0;
}
ol {
    list-style-type: decimal;
    margin-left: 0;
    margin-right: 1.3em;
}
ul li li{
	padding-left: 0;
	padding-right: 1.3em;
}

div.wpcf7{
	direction: rtl;
}

.page_content > .container,
.grid_row.cws_flex_row{
	 -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

table > *:first-child tr:first-child>*:first-child{
	border-top-right-radius: 5px;
	border-top-left-radius: 0;
}
table > *:first-child tr:first-child>*:last-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
}
table > *:last-child tr:last-child>*:first-child{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0;
}
table > *:last-child tr:last-child>*:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 0;
}

.select2-container .select2-choice .select2-arrow {
    border-left: 0;
    border-right-width: 1px;
    border-right-style: solid;
}

header .container {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.right_alight{
	text-align: left;
}

.page_content>.container>*{
	direction: rtl;
}
.widget-title-icon:before{
	margin-right: 0;
	margin-left: 14px;
}
.owl-carousel {
    direction: rtl
}

.owl-carousel .owl-item{
    float: right
}
.cws_progress_bar .progress{
	left: auto;
	right: 0;
}
.carousel_nav_panel .prev:before {
	content: "\f105"; 
}
.carousel_nav_panel .next:before {
    content: "\f104";
}
.cws_blog_header .carousel_nav_panel{
	padding-left: 0;
	padding-right: 15px;
}
.cws_tweet .follow_us,
.post_item .post_thumb_wrapp{
	float: right;
	margin-right: 0;
	margin-left: 8px;
}
.copyrights_panel,
.pic .links{
	direction: ltr;
}
.header_nav_part.mobile_nav .main-nav-container .sub-menu .menu-item>a, 
.header_nav_part.mobile_nav .main-nav-container .menu-item>a{
	text-align: start;
}
.main-nav-container .button_open:before{
	content: "\f104";
}
.main-nav-container .sub-menu .menu-item{
	padding-right: 0;
}
.main-nav-container .sub-menu{
	-webkit-transform: translateX(99999px);
	-moz-transform: translateX(99999px);
	-ms-transform: translateX(99999px);
	transform: translateX(99999px);
}
.main-menu>.menu-item.right>.sub-menu{
	right: auto;
	left: 0;
	text-align: right;
}
.main-nav-container .sub-menu .menu-item>.sub-menu{
	left: auto;
	right: 100%;
	margin-right: 3px;
}
.main-menu>.menu-item.right .sub-menu .menu-item>.sub-menu{
	right: auto;
	left: 100%;
}
.main-menu>.menu-item.right .sub-menu .sub-menu {
    margin-right: 0;
    margin-left: 3px;
}
.main-menu>.menu-item>.sub-menu{
	left: auto;
	right: 0;
	text-align: right;
}
.site_header .search_menu{
	border-left: 0;
	border-right: 1px solid #e6e6e6;
	text-align: left;
}
.site_header .search_menu_cont .search_back_button{
	right: auto;
	left: 0;
}



.main-menu>.menu-item:first-child>a:after{
	background: transparent;
}
.main-nav-container .main-menu.menu-bees>.menu-item:first-child>a>.canvas_wrapper canvas{
	right: -55px;
}
.main-nav-container .main-menu.menu-bees>.menu-item:first-child>a>.canvas_wrapper{
	right: -22px;
}
.main-menu .bees.bees-end{
    right: auto;
    left: 0;
}
.main-nav-container .main-menu.menu-bees>.menu-item:last-child>a>.canvas_wrapper{
	right: 0;
	left: -22px;
}
.mini-cart .woo_mini_cart{
	right: auto;
	left: 0;
}

.mobile_nav .main-nav-container .menu-item>a {
    padding: 3px 15px 3px 0;
    font-size: 14px;
    letter-spacing: -0.01em;
}


#top_social_links_wrapper.toggle-on .cws_social_links{
	right: auto;
	left: 0;
}
#top_panel_links{
	padding-left: 0;
	padding-right: 10px;
}
#top_panel_links #top_social_links_wrapper.toggle-on .cws_social_links .cws_social_link{
	margin-right: 0;
	margin-left: -25px;
}
#top_panel_links #top_social_links_wrapper.toggle-on .cws_social_links .cws_social_link + .cws_social_link {
    margin-left: -25px;
}
#top_panel_links #top_social_links_wrapper.toggle-off .cws_social_links .cws_social_link + .cws_social_link, 
#top_panel_links #top_social_links_wrapper.toggle-on .cws_social_links.expanded .cws_social_link + .cws_social_link, 
#top_panel_links #top_social_links_wrapper.toggle-on .cws_social_links.expanded:after,
#top_panel_links #top_social_links_wrapper.toggle-on .cws_social_links.expanded .cws_social_link{
	margin-left: 0;
	margin-right: 7px;
}

.mini-cart{
	margin-left: 0;
}
.pagination .page_links>*{
	float: right;
	margin-right: 0;
}
.pagination .page_links>*+*{
	margin-left: 0;
	margin-right: -1px;
}
.pagination .page_links>*:last-child{
	border-radius: 5px 0 0  5px;
}
.pagination .page_links>.page-numbers.current:last-child:after{
	left: 2px;
    right: 0;
}
.pagination .page_links>*:first-child{
	border-radius: 0 5px 5px 0;
}
.pagination .page_links>.page-numbers>i{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}
aside .cws-widget .cws_tweet{
	text-align: right;
}
aside .cws-widget .cws_tweet:before{
	left: auto;
	right: 0;
}
aside .cws-widget .cws_tweet .tweet_content {
    padding: 10px 30px 10px 0;
}
aside .testimonial .author img, 
.page_footer .testimonial .author img{
	margin-right: 0;
	margin-left: 12px;
}
.cws-widget ul li:before {
    margin-left: 0.4em;
    margin-right: 2px;
}
.testimonial .quote.with_link {
	padding-right: 20px;
    padding-left: 46px;
}
.testimonial .quote .quote_link{
	right: auto;
	left: 0;
}
.cws-widget .parent_archive .widget_archive_opener, 
.cws-widget .has_children .opener {
    right: auto;
    left: 0;
}
.cws-widget .parent_archive .widget_archive_opener:before, 
.cws-widget .has_children .opener:before{
	content: "\f104";
}
.cws-widget ul.children, 
.cws-widget ul.sub-menu {
    margin-right: 20px;
    margin-left: 0;
}
.ce_accordion .accordion_title, 
.ce_toggle .accordion_title {
    padding: 3px 35px 3px 3px ;
}
.ce_accordion.second_style .accordion_section .accordion_title, 
.ce_toggle.second_style .accordion_section .accordion_title {
    padding: 5px 40px 5px 5px;
}
.ce_accordion .accordion_title .accordion_icon, 
.ce_toggle .accordion_title .accordion_icon{
	left: auto;
	right: -35px;
}
.ce_accordion.third_style .accordion_title .accordion_icon, 
.ce_toggle.third_style .accordion_title .accordion_icon{
	left: auto;
	right: -30px;
}
.ce_accordion .accordion_title>span, .ce_toggle .accordion_title>span{
	margin-left: 0;
	margin-right: -25px;
}

.ce_accordion:not(.third_style) .accordion_content:before, 
.ce_toggle:not(.third_style) .accordion_content:before{
	left: auto;
	right: 9px;
}

.ce_tabs.vertical .tabs {
    padding-right: 0;
    padding-left: 5px;
}


.cws_msg_box .icon_section, 
.wpcf7-response-output:after{
    left: auto;
    right: 0;
}
.cws_msg_box, div.wpcf7-response-output {
    padding: 20px 101px 20px 20px;
}
.cws_msg_box.closable .cls_btn {
    right: auto;
    left: 10px;
}
.cws_callout .content_section + .button_section{
	padding-left: 0;
	padding-right: 30px;
}
.cws_callout .icon_section{
	padding-right: 0;
	padding-left: 25px;
}
.cws_callout.alt-style .styling-border {
    left: auto;
    right: -1px;
}
.cws_callout.alt-style{
	border-radius: 10px 0 0 10px;
}

.news .post_info_part{
	margin-right: 0;
	margin-left: -30px;
}

.news .post_tags>i, .news .post_categories>i{
	margin-right: auto;
	margin-left: 5px;
}
.news .media_part{
	float: right;
	text-align: right;
	margin-right: auto;
	margin-left: 30px;
}
.news .grid .item>.media_info_wrapper{
	margin-left: 0 !important;
}

.item .date.no_media{
	margin-right: 0;
	margin-left: 20px;
}
.post_info_top .comments_link{
	float: left;
}
.post_info_top.no_media .post_info_header{
	text-align: right;
}
.post_info_top.no_media .post_info_header .ce_title,
.dropcap{
	float: right;
}
.dropcap{
	margin-right: 0;
	margin-left: 0.5ex;
}
.post_info_top.no_media .info{
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
.post_info_top.no_media .post_info {
    text-align: right;
    padding-left: 0;
}
.cws_sc_carousel .carousel_nav_panel{
	float: left;
}
.news .item.small .post_info_header,
.news .item.small .post_info,
.news .item.medium .post_info_header,
.news .item.medium  .post_info,
.news .item.large .post_info_header,
.news .item.large .post_info,
.cws_ourteam.single .cws_ourteam_items,
.cws_portfolio.single .cws_portfolio_items .item .desc_part,
.footer_container .cws-widget .wpcf7,
.footer_container ul li,
.footer_container .select2-container{
	text-align: right;
}
.post_content_wrap .meta_cont .button_cont,
.cws_ourteam_filter_container{
	text-align: left;
}

.news .item.unwrapped_date.boxed_style > * + * {
    margin-right: 56px;
    margin-left: 0;
}

.news .item.boxed_style .post_info_part{
	margin-left: -51px;
	margin-top: -21px;
	margin-right: -21px;
}

.item .date.new_style{
	float: right;
	margin-right: 0 !important;
    margin-left: 15px !important;
}

.news .item > .ce_title:after{
	margin: 10px 0 7px auto;
}

.news .item.boxed_style > .ce_title:after {
    margin: 9px 0 5px auto;
}

.news.single .item > .ce_title:after{
	margin: 14px 0 14px auto;
}
.comments-area .comment_list .avatar_section + .comment_info_section:after{
	left: auto;
	right: -1px;
}
.comments-area .comment_list .avatar_section{
	float: right;
}
.comments-area .comment_list .avatar_section + .comment_info_section:before{
	left: auto;
	right: -8px;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
    border-right: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
}
.comments-area .comment_list .avatar_section + .comment_info_section{
	margin-left: 0;
	margin-right: 124px;
}
.comments-area .comments_children {
	padding-left: 0;
    padding-right: 85px;
}
.comments-area .comment_list .reply{
	text-align: left;
}
.comments-area .comment_list .comment-meta .comment_date {
    margin-left: 0;
}
.cws_portfolio.single .cws_portfolio_items .item .title_part{
	text-align: right;
}
.cws_portfolio.single .cws_portfolio_items .item .ce_title:after {
    margin: 15px 0 15px auto;
}
.cws_portfolio.single.related .carousel_nav_panel .prev_section{
	float: right;
}
.cws_portfolio.single.related .carousel_nav_panel .next_section{
	float: left;
}
.cws_portfolio.single.related .carousel_nav_panel .prev{
	margin-left: 7px;
	margin-right: 0;
}
.cws_portfolio.single.related .carousel_nav_panel .next{
	margin-left: 0;
	margin-right: 7px;
}
.cws_ourteam.single .media_part_wrapper{
	float: right;
	margin-right: 0;
	margin-left: 24px;
}
ul.product_list_widget li a img{
	float: right;
	margin-left: 15px;
	margin-right: 0;
}
ul.products li .star-rating{
	float: left;
}
ul.products li.product .price_button_cont .button, ul.products li.product .price_button_cont .added_to_cart {
    left: 0;
    right: -14px;
}
ul.products li.product:hover .price_button_cont .button, 
ul.products li.product:hover .price_button_cont .added_to_cart {
    left: auto;
    right: 0;
    opacity: 1;
    visibility: visible;
}
.checkout_coupon p.form-row.form-row-last .button{
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mini-cart .cart_list li>* {
	margin-left: 20px;
    margin-right: 0;
}
.mini-cart .cart_list li a img{
	margin-right: 0;
}
.mini-cart .woo_mini_cart .product_list_widget>li .remove{
	float: left;
}
.mini-cart .cart_list li a img{
	float: right;
}
form.checkout #order_review, form.checkout #order_review .shop_table{
	text-align: right;
}
ul.products li.product .price_button_cont .added_to_cart.wc-forward{
	left: auto;
	right: 0;
}
.woocommerce-product-search .search-field{
	padding-right: 55px;
}
.cws-widget .product_list_widget>li>*{
	margin-right: 0;
	margin-left: 15px;
}
.cws-widget .product_list_widget>li>*:not(a):not(.star-rating){
	margin-left: 0;
	margin-right: 70px;
}
.cws-widget .product_list_widget>li .remove {
    float: left;
    margin: 1px 5px 5px 0;
}
.pic .links_popup{
	opacity: 1;
	visibility: hidden;
}
.pic:hover .links_popup{
	opacity: 1;
	visibility: visible; 
}
.cws_fa_tbl{
	direction: ltr;
}
.cws_fa_tbl_row{
	direction: rtl;
}
.main-nav-container > .main-menu > .menu-item.menu-item-has-children > a:after{
	margin-right: 9px;
	margin-left: 0;
}


.gallery.owl-carousel .owl-controls {
    padding: 20px 0 20px 30px;
}
.bread-crumbs{
	text-align: left;
}
.page_title .bread-crumbs{
	text-align: left;
}
.footer_container .cws-widget .post_item,
.footer_container .cws-widget .post_item .post_date{
	text-align: right;
}

.cws-widget .post_item .post_thumb{
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
.copyrights_panel_wrapper{
	right: auto;
	left: 0;
}
.testimonial .author{
	float: right;
}
.testimonial .author + .quote{
	margin-left: 0;
	margin-right: 125px;
}
.mobile_nav .mobile_menu_header {
    direction: ltr;
}
.mini-cart .cart_list li{
	text-align: right;
}